<div class="legal-links">
    {%- include component/footer/legal-link.html name="Guest Post Agreement" url="guest-post-agreement" -%}
    {%- include component/footer/legal-link.html name="Terms and Conditions" url="terms-and-conditions" -%}
    {%- include component/footer/legal-link.html name="Privacy Policy" url="privacy-policy" -%}
    {%- include component/footer/legal-link.html name="Disclaimer" url="disclaimer" -%}
    {%- include component/footer/legal-link.html name="Cookies" url="cookie-policy" -%}
</div>