{%- if include.content.link.url -%}
    <a class="card card--square" itemprop="url sameAs" href="{{ post.link.url | relative_url }}" title="{{ post.thumbnail.caption }}">
{%- else -%}
    <a class="card" itemprop="url sameAs" href="{{ post.url | relative_url }}" title="Go to the post '{{ post.title | escape }}'">
{%- endif -%}
    <img loading="lazy" class="image" src="{{ include.content.thumbnail.source | relative_url }}" alt="{{ include.content.thumbnail.caption }}">
    <h3 class="title ts o">{{ include.content.title | escape }}</h3>
        {% if include.dateformat %}<time class="timestamp ts">{{ include.content.date | date: include.dateformat }}</time>{% else %}<span class="br"></span>{% endif %}
    {% if include.excerpt %}<span class="excerpt ts">{{ include.content.excerpt | strip_html | strip_newlines | truncate: site.excerpt_length}}</span>{% endif %}
    <span class="bl"></span><span class="br"></span><span class="tl"></span><span class="tr"></span>
</a>