<section class="share">
    <h2 class="share__heading">Care to Share? Do it! 😉</h2>
    <a class="share__link" href="https://www.facebook.com/share.php?u=www.toms.click&quote="><img class="share__image" src="/assets/ui/facebook.png" alt="Facebook logo"/></a>
    <a class="share__link" href="https://twitter.com/intent/tweet?text=&url={{site.url}}"><img class="share__image" src="/assets/ui/twitter.png" alt="Twitter logo"/></a>
    <a class="share__link" href="https://reddit.com/submit?url={{site.url}}&title="><img class="share__image" src="/assets/ui/reddit.png" alt="Reddit logo"/></a>
    <a class="share__link" href="mailto:?subject=&body={{site.url}}"><img class="share__image" src="/assets/ui/gmail.png" alt="Gmail logo"/></a>
    <a href="https://api.whatsapp.com/send?text={{site.url}}" data-action="share/whatsapp/share"><img class="share__image" src="/assets/ui/whatsapp.png" alt="WhatsApp logo"/></a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}"><img class="share__image" src="/assets/ui/linkedin.png" alt="LinkedIn logo"/></a>
</section>