<footer class="footer">
  <div class="footer__wrapper">
    {%- if site.author -%}
    <div class="footer__copyright" itemprop="copyrightNotice">&copy;&nbsp;{{- 'now' | date: "%Y" -}}&nbsp;{{- site.author.name | escape -}}, All Rights Reserved, <a href="mailto:{{- site.email -}}">〔 {{- site.email -}} 〕</a></div>
    {%- include author.html -%}
    {%- endif -%}
  </div>
  <span itemprop="accessMode" aria-hidden="true" hidden>colorDependent</span>
  <span itemprop="accessMode" aria-hidden="true" hidden>visual</span>
  <span itemprop="accessModeSufficient" aria-hidden="true" hidden>textual</span>
</footer>