<footer class="footer">
  <div class="footer__wrapper">
    <div class="legal-links">
      <a href="/legal/guest-post-agreement">Terms</a>
      <a href="/legal/privacy-policy">Privacy</a>
      <a itemtype="https://schema.org/termsOfService" itemscope href="/legal/cookie-policy">Cookies</a>
      <a href="/legal/disclaimer">Disclaimer</a>
      <a href="/legal/guest-post-agreement">Guest Posting</a>
    </div>
    <div class="footer__copyright" itemprop="copyrightNotice">&copy;&nbsp;2021&nbsp;Martin Toms, All Rights Reserved, <a class="contact" href="mailto:{{- site.email -}}">〔 {{- site.email -}} 〕</a></div>
    {%- if site.author -%}
      {%- include author.html -%}
    {%- endif -%}
  </div>
  <span itemprop="accessMode" aria-hidden="true" hidden>colorDependent</span>
  <span itemprop="accessMode" aria-hidden="true" hidden>visual</span>
  <span itemprop="accessModeSufficient" aria-hidden="true" hidden>textual</span>
</footer>