<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item footer__copyright">© 2021 Martin Toms, All Rights Reserved</li>
        <li class="footer__item"><a class="footer__link" href="/legal/guest-post-agreement">Guest Post Agreement</a></li>
        <li class="footer__item"><a class="footer__link" href="/legal/terms-and-conditions">Terms and Conditions</a></li>
        <li class="footer__item"><a class="footer__link" href="/legal/privacy-policy">Privacy Policy</a></li>
        <li class="footer__item"><a class="footer__link" href="/legal/disclaimer">Disclaimer</a></li>
        <li class="footer__item"><a class="footer__link" href="/legal/cookie-policy">Cookies</a></li>
    </ul>
</footer>