<head>
  <script>function setCookie(e,t,o){let n=new Date;n=new Date(n.getTime()+24*o*60*60*1e3),document.cookie=e+"="+t+"; expires="+n+"; path=/"}function getCookie(e){for(let t,o=document.cookie.split("; "),n=o.length;n--;)if((t=o[n].split("="))[0]===e)return t[1];return!1}function deleteCookie(e){document.cookie=e+"=null; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/"}</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175998459-1"></script>
  <script>if(getCookie("consent")){function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-175998459-1")}</script>

  {%- include component/random-build-number.html -%}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/assets/favicon/site.webmanifest?v=2">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{- "/assets/master.css?v=" | relative_url | append: randomBuildNumber -}}">


  {%- feed_meta -%}

  <title itemprop="headline">{{page.title | default: Page}} {% if page.meta.series %}-&nbsp;{{page.meta.series}}&nbsp;{% endif %}- {{site.title}}</title>
  <meta itemprop="" property="og:title" content="{{page.title}} - Toms.click">
  <meta property="twitter:title" content="{{page.title | default: Page}} - Toms.click">

  <meta itemprop="name" property="og:site_name" content="{{site.title}}">

  <meta name="author" content="Martin Toms">

  <meta itemprop="description abstract" name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">
  {% assign thumbnail = site.thumbnail | where:"name", page.thumbnail | first %}
  <meta property="og:image" content="{{site.url}}{{thumbnail.source | default: '/assets/martin.jpg?v=1.0.0'}}">
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="{{site.description}}">

  <link rel="canonical" href="{{site.url}}/">
  <meta property="og:url" content="{{site.url}}/">

  <meta property="og:locale" content="en_US">

  <link type="application/atom+xml" rel="alternate" href="{{site.url}}/feed.xml" title="Toms.click">
  <script>const byId = id => document.getElementById(id); const byTag = tag => document.getElementsByTagName(tag);</script>

  {% if page.tipue_search_active or layout.tipue_search_active %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
  <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
  <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
  {% endif %}
  <script src="/js/infinite-jekyll.js" async defer></script>
</head>