<header class="header">
    <a class="logo" href="/">
        <div class="logo__image-wrapper"><img width="32px" height="32px" class="logo__image" src="{{ "/assets/logo/logo.png" | relative_url }}" alt="Logo"></div>
        <div class="logo__text">Toms.Click</div>
    </a>
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link" href="/home">Home</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/blog">Blog</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/about">About</a></li>
        </ul>
    </nav>
</header>