<head>

  {%- include component/random-build-number.html -%}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="icon" type="image/png" href="{{- "/assets/favicon.ico?v=" | relative_url | append: randomBuildNumber }}">
  <link rel="stylesheet" href="{{- "/assets/normalize.css?v=" | relative_url | append: randomBuildNumber -}}">
  <link rel="stylesheet" href="{{- "/assets/master.css?v=" | relative_url | append: randomBuildNumber -}}">


  {%- feed_meta -%}

  <title itemprop="headline">{{page.title | default: Page}} - {{site.title}}</title>
  <meta itemprop="" property="og:title" content="{{page.title}} - Toms.click">
  <meta property="twitter:title" content="{{page.title | default: Page}} - Toms.click">

  <meta itemprop="name" property="og:site_name" content="{{site.title}}">

  <meta name="author" content="{{site.author.name}}">

  <meta itemprop="description abstract" name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">
  <meta name="twitter:card" content="{{site.description}}">

  <link rel="canonical" href="{{site.url}}/">
  <meta property="og:url" content="{{site.url}}/">

  <meta property="og:locale" content="en_US">

  <link type="application/atom+xml" rel="alternate" href="{{site.url}}/feed.xml" title="Toms.click">
</head>