<h2 class="sr">{{- page.list_title | default: "Featured Posts" -}}</h2>

{%- for post in site.posts -%}
  {%- if post.featured == true and post.title != page.title -%}
    {%- include component/capture-day-posted.html -%}

    <div class="card card--sidebar">
      {%- unless post.thumbnail == "#" -%}
      <img class="card__image" src="{{post.thumbnail}}" alt="{{post.thumbnail-alt}}">
      {%- endunless -%}
      <div class="card__content">
        <h3 class="card__content-heading">{{- post.title | escape -}}</h3>
      </div>
      {%- if post.link -%}
        <a class="card__overlay" href="{{- post.link | relative_url -}}" title="'{{- post.link-text | escape -}}'"></a>
      {%- else -%}
        <a class="card__overlay" href="{{- post.url | relative_url -}}" title="Go to the post '{{- post.title | escape -}}'"></a>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endfor -%}
