@import "minima/syntax-highlighting"

/* ----- Base ----- */
$font-size: 20px
$line-height: 150%
$site-width: 1024px

/* ----- Colors ----- */
$primary: #101010

/* ----- Aux ----- */
$db: 1px solid $primary

/* ----- Whole page elements ----- */
*
  box-sizing: border-box
  margin: 0
  padding: 0
body, html
  font-family: Raleway, sans-serif
  font-size: $font-size
  line-height: $line-height
a
  text-decoration: none

body
  display: flex
  flex-direction: column

/* ----- Header and footer ----- */

.header, .footer
  border-bottom: $db
  line-height: 2.5rem
  &__wrapper
    max-width: $site-width
    margin: auto
    display: flex
    align-items: center
    justify-content: space-between
  &__logo,
  &__link
    color: $primary
    &:visited
      color: $primary
  &__nav
    display: flex
  &__link
.footer
  border-top: $db
  border-bottom: none
  &__wrapper
    flex-wrap: wrap
  &__copyright
    margin-top: 8px
    width: 100%
  &__social
    margin-bottom: 0.5rem
    margin-top: 8px
  &__social-item
    margin-bottom: 8px
    a
      display: flex
    svg
      width: 16px
      height: 16px
      margin-right: 8px
    span
      line-height: 16px
      font-size: 16px
      height: 16px
      width: 100%

/* ----- Main ----- */

.main
  display: flex
  max-width: $site-width
  width: 100%
  margin: auto
  &__content
    background-color: #fdfdfd
    flex-grow: 1
  &__aside
    background-color: #fcfcfc
    margin-left: 1rem
    min-width: 10rem

/* ----- Homepage ----- */

.homepage
  &__heading

.posts
  &__heading
  &__list

.card
  position: relative
  display: flex
  align-items: center
  margin-bottom: 1rem
  &__content
    display: flex
    flex-direction: column
  &__heading
    margin-bottom: 0.25rem
  &__meta
    margin-bottom: 0.75rem
  &__image
    margin-right: 0.5rem
    min-width: 300px
    max-height: 200px
    background-size: cover
    object-fit: cover
  &__overlay
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: 100%

.rss
  &__link
/* ----- Post ----- */

.post-content

/* ----- Drop Cap ----- */
.post-content::first-letter
  border: 0.25rem solid $primary
  padding: 0.25rem
  font-size: 3rem
  line-height: 3rem
  margin-right: 1rem
  margin-bottom: 0.25rem
  float: left
  vertical-align: bottom