@import "minima/syntax-highlighting"

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
  border: 0

/* ----- Base ----- */
$font-size: 20px
$line-height: 150%
$site-width: 1024px

/* ----- Colors ----- */
$primary: #101010

/* ----- Aux ----- */
$db: 1px solid $primary

/* ----- Whole page elements ----- */
*
  box-sizing: border-box
  margin: 0
  padding: 0
body, html
  font-family: Raleway, sans-serif
  font-size: $font-size
  line-height: $line-height
a
  text-decoration: none

body
  display: flex
  flex-direction: column

/* ----- Header and footer ----- */

.header, .footer
  line-height: 2.5rem
  background-color: #efeff6
  &__wrapper
    max-width: $site-width
    margin: auto
    display: flex
    align-items: center
    justify-content: space-between
  &__logo,
  &__link
    color: $primary
    margin-right: 1rem
    &:visited
      color: $primary
    &:last-of-type
      margin-right: 0
  &__nav
    display: flex
  &__link

.footer
  &__wrapper
    flex-wrap: wrap
  &__copyright
    margin-top: 8px
    width: 100%
  &__social
    margin-bottom: 0.5rem
    margin-top: 8px
  &__social-item
    margin-bottom: 8px
    a
      display: flex
      &:hover
        text-decoration: underline
    svg
      width: 16px
      height: 16px
      margin-right: 8px
    span
      line-height: 16px
      font-size: 16px
      height: 16px
      width: 100%

/* ----- Main ----- */

.main
  display: flex
  max-width: $site-width
  width: 100%
  margin: auto
  &__content
    flex-grow: 1
    padding-top: 1rem
  &__aside
    padding-top: 1rem
    margin-left: 1rem
    min-width: 12rem
    //background-color: #f8f8f8

/* ----- Homepage ----- */

.homepage
  &__heading

.posts
  &__heading
  &__list

.card
  position: relative
  display: flex
  align-items: center
  margin-bottom: 1rem
  &__content
    align-self: baseline
    display: flex
    flex-direction: column
    text-align: justify
    font-size: 0.8rem
    line-height: 1.4rem
  &__heading
    font-size: 1rem
    margin-bottom: 0.25rem
    font-weight: bold
  &__meta
    margin-bottom: 0.25rem
  &__image
    margin-right: 1rem
    min-width: 300px
    max-height: 200px
    background-size: cover
    object-fit: cover
  &__overlay
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: 100%
  &--aside
    flex-direction: column
    .card__image
      min-width: 12rem
      max-height: 8rem
      margin-right: 0
    .card__content
      width: 100%
    .card__heading
      text-align: left

.rss
  &__link
    &:hover
      text-decoration: underline
/* ----- Post ----- */

.post-content

/* ----- Drop Cap ----- */
.post-content::first-letter
  border: 0.25rem solid $primary
  padding: 0.25rem
  font-size: 3rem
  line-height: 3rem
  margin-right: 1rem
  margin-bottom: 0.25rem
  float: left
  vertical-align: bottom