.theme-post .article
  max-width: 720px
  margin: auto

.theme-post > .wrapper
  flex-direction: column
  .sidebar
    max-width: 720px
    border-left: none
    border-top: $s/4 solid black
    min-width: initial
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    padding: $s
    margin: auto
    margin-bottom: $s
    .bg
      display: none
    .card__link
      min-width: 20%
      max-width: 20%
      margin-right: $s
      &:nth-of-type(4)
        margin-right: 0