/* Reorganize */
.gsc-comments > .gsc-header {
    order: 1;
}

.gsc-comments > .gsc-comment-box {
    order: 2;
    margin-bottom: 1rem;
}

.gsc-comments > .gsc-timeline {
    order: 3;
}

.gsc-timeline {
    flex-direction: column-reverse;
}

/*Remove clutter*/
.gsc-header, .gsc-comment-reactions, .gsc-reactions-menu, .gsc-comment-replies-count, .gsc-comment-box-markdown-hint, .gsc-upvotes, .gsc-comment-box-separator {
    display: none;
}

/*Blockquotes*/

.gsc-comment-content blockquote {
    border-left: 4.031px solid #EEEEEE;
    padding-left: 8.090px;
    font-size: 13.5px;
    line-height: 24px;
}
.gsc-comment-content blockquote p {
    display: inline;
    font-style: italic;
}
.gsc-comment-content blockquote p:before {
    content: '”';
    display: inline;
}
.gsc-comment-content blockquote p:after {
    content: '„';
    display: inline;
}

/*Textarea*/
.gsc-comment-box-textarea {
    resize: none;
}

/*Comments*/
.gsc-comment * {
    border: none;
}

.gsc-comment {
    border: black 1px solid;
}

/*Reply box*/
.gsc-reply-box {
    outline: #EEEEEE 1px solid;
}

.gsc-reply-box:first-child {
    display: none;
}

/*.gsc-comment div.w-full {
    display: flex;
    flex-wrap: wrap;
}

.gsc-comment-header {
    max-width: 30%;
}

.gsc-comment-content {
    max-width: 70%;
}

.gsc-comment-author-avatar {
    width: 100px;
    height: 100px;
}

.gsc-comment-author:last-child {
    display: none; !important;
}

.gsc-comment-author-avatar img {
    width: 100%;
    height: 100%;
}

.gsc-comment-author-avatar span {
    margin-bottom: 18px;
}

.flex {
    display: none;
}*/