*
  // content box sucks
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  // set margins manually
  margin: 0
  padding: 0

  // no overflow horizontally
  max-width: $f

html
  overflow-x: hidden

body
  font-family: $primary-font

  font-size: $font-size
  line-height: $line-height

  background-color: $background-color

  max-width: $f

  overflow-x: hidden

  color: $color

p
  font-family: $secondary-font

h1, h2, h3, h4, h5, h6
  font-size: $font-size
  margin: 0

.wrapper--body
  display: flex

  width: 100%
  max-width: $site-width

  margin: auto


.main
  padding: $s 0 $s 0
  flex-grow: 1

.sidebar
  flex: 1