.share
  flex-wrap: wrap
  display: flex
  justify-content: space-between
  &__heading
    font-family: $primary-font
    width: 100%
    margin-bottom: $s/2
  &__link
    width: $line-height
    height: $line-height
  &__image
    width: $line-height
    height: $line-height