/*--- Display --------------------------*/
.card
  display: flex
  margin-bottom: $s
  text-align: justify
  hyphens: auto
  position: relative
  cursor: default
  &__image
    margin-right: $s
    width: 300px
    max-width: 100%
    max-height: 200px
    object-fit: cover
    aspect-ratio: 3 / 2
  &__content
    display: flex
    flex-direction: column
    flex: 1
    &-heading
      line-height: 1em
      margin-bottom: $s
    &-meta
      line-height: 1em
      margin-bottom: $s/2
      font-size: $font-size*16/18
    &-excerpt
      font-size: $font-size*16/18
  &__overlay
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    cursor: pointer

.card--sidebar
  outline: 2px solid $border-color
  flex-wrap: wrap
  margin-bottom: $s
  .card__image
    margin: 0 !important
    height: 10*$s !important
    margin-bottom: $s/2 !important
  .card__content-heading
    margin-bottom: $s/2 !important

  &:hover
    box-shadow: 0px 0px 5px #000

.card--link-only
  outline: 2px solid $border-color
  padding: $s/2 $s
  .card__content-heading
    margin: 0 !important
    text-decoration: none !important
  &:hover
    box-shadow: 0px 0px 5px #000

/*--- Coloring -------------------------*/

.card
  align-items: center
.card--sidebar
  text-align: center
