/*--- Display --------------------------*/
.footer
  margin-bottom: $s
  padding-top: $s

/*--- Coloring -------------------------*/
.footer
  text-align: center
  text-transform: uppercase
  border-top: 2px solid $border-color
  a
    text-decoration: none
    color: black
    &:hover
      text-shadow: 0.25px 0 0 currentColor