/*--- Display --------------------------*/
.footer
  margin-bottom: $s
  padding-top: $s
  font-size: $font-size*0.75
  line-height: $font-size*0.75
  &__wrapper
    margin: auto
    max-width: $site-width
  .footer__copyright
    margin-bottom: $s
  .legal-links
    text-align: left
  .legal-link
    display: block
    margin-bottom: $s/2
    border-left: $s/4 solid $border-color
    padding-left: $s/2
    max-width: 300px
    &:hover
      border-color: black
/*--- Coloring -------------------------*/
.footer
  cursor: default
  border-top: 2px solid $border-color
  a
    text-decoration: none
    color: black
    &:hover
      text-shadow: 0.25px 0 0 currentColor
