/*--- Display --------------------------*/
.header
  display: flex
  justify-content: space-evenly

  margin-top: $s
  padding-bottom: $s

  &__logo
    display: flex
    align-items: center
    &-img
      width: $font-size
      height: $font-size

      margin-right: $s/4
    &-text

/*--- Coloring -------------------------*/
.header
  text-align: center
  text-transform: uppercase

  border-bottom: $border
  &__logo
    text-decoration: none
    color: $color
