/*--- Display --------------------------*/
.post
  &__thumbnail
    width: 100%
  &__header
  &__title
    float: left
  &__meta
    float: right
    margin-top: $s
    &-published
    &-author
  &__content
    clear: both
    & > *
      margin-bottom: $s
    p:last-of-type
      margin-bottom: 0 !important
    &-notice
      padding-left: $s
  h1, h2, h3, h4, h5, h6
    margin: $s*2 0 0 0 !important
  h1:first-of-type
    margin-top: $s !important
/*--- Coloring -------------------------*/
.post
  text-align: justify
  hyphens: auto
  &__thumbnail
    outline: $border
  &__header
  &__title
    text-align: left
  &__meta
    text-align: right
    font-family: $primary-font
    &-published
    &-author
      p
        display: inline
        a
          text-decoration: none
          color: inherit
          font-weight: bold
  &__content
    &-notice
      border-left: $s/4 solid $g
      color: $g

  /*--- Markdown Style -----------------*/
  ul, ol
    list-style-position: inside
    ul, ol
      padding-left: $s
      ul, ol
        padding-left: $s

  .task-list
    display: flex
    flex-direction: column
    list-style: none
    text-transform: uppercase
    font-family: $primary-font
    font-size: 0.75*$font-size
    line-height: $font-size
    &-item
      display: flex
      align-items: center
      margin-bottom: $s/4
      &-checkbox
        margin-right: $s

  table
    border-collapse: collapse
    margin: auto
    max-width: 100%
    text-transform: uppercase
    font-family: $primary-font
    font-size: 0.75*$font-size
    line-height: $font-size
    tr
      th
        text-align: center
      td, th
        border: 1px solid black
        padding: $s/4
        text-align: left

  .footnotes
    $footnote-font: $secondary-font
    line-height: $font-size
    display: block
    margin-top: $s
    ol
      display: flex
      flex-direction: column
      li
        font-size: 0.75*$font-size
        line-height: 0.75 * $line-height
        *
          display: inline
          font-family: $footnote-font
        p
          .reversefootnote
            display: none
  .footnote
    text-decoration: none
    margin-left: $s/4

  .highlight
    background: inherit
    *
      font-family: $primary-font !important
    .highlight
      border-left: $s/4 solid $border-color
      overflow-x: auto
      padding: $s/2 0 $s/2 $s
      border-radius: $s/2
    .highlighter-rouge &
      background: inherit

  blockquote
    font-size: 0.75 * $font-size
    line-height: 0.75 * $line-height
    p
      display: inline
      font-style: italic
      &:after
        content: '”'
        display: inline
      &:before
        content: '„'
        display: inline

  del
    color: darkgray