.image-float-left, .image-float-right
  max-width: 25%
  float: left
  margin-right: $s
  margin-bottom: $s
  clear: right

.image-float-right
  max-width: 25%
  float: left
  margin-right: $s
  margin-bottom: $s
  clear: left

.comparison
  display: flex
  figure
    max-width: 50%
  figure:first-of-type
    figcaption
      left: 0
      right: initial
      border-left: none
      border-right: $s/4 solid $border-color
  figure:last-of-type

.note
  text-align: center
  padding: $s/4 $s

@media screen and (max-width: 480px)
  .comparison
    flex-direction: column
    figure
      max-width: 100%
    figure:first-of-type
      border-bottom: $s/4 solid $theme
      border-right: none
    figure:last-of-type
      border-top: $s/4 solid $theme
      border-left: none