/*--- Display --------------------------*/
.rss
  display: flex
  align-items: center
  line-height: $font-size
  &__icon
    width: $font-size
    height: $font-size
  &__link

/*--- Coloring -------------------------*/
.rss
  font-family: $primary-font