/*--- Display --------------------------*/
.rss
  display: flex
  align-items: center
  line-height: $font-size
  text-decoration: none
  padding: $s
  font-size: 13.5px
  width: 100%
  color: black
  justify-content: space-around
  &__icon
    width: 27px
    height: 27px
  &:hover
    text-shadow: 0.25px 0 0 currentColor

/*--- Coloring -------------------------*/
.rss
  font-family: $primary-font