.comments-section-title
  margin-bottom: $s/4 !important

.author
  padding: $s !important
  display: flex
  margin-bottom: $s
  align-items: center
  position: relative
  figcaption
    display: none
  .thumbnail
    box-shadow: 0px 0px 2px black !important
    border-radius: 100%
    object-fit: cover
    width: 128px
    height: 128px
    margin-right: $s
  .content
    flex-grow: 1
    .name
      margin: 0 !important
      float: left
      text-align: center
      clear: none !important
    .bio
      text-align: justify
      hyphens: auto

/*THEME SID*/

.image-float-left, .image-float-right
  max-width: 25%
  float: left
  margin-right: $s
  margin-bottom: $s
  clear: right

.image-float-right
  max-width: 25%
  float: left
  margin-right: $s
  margin-bottom: $s
  clear: left

.post h2, h3, h4, h5, h6
  clear: both

.banner
  position: fixed
  bottom: $s
  background-color: white
  right: $s
  padding: $s
  max-width: 300px
  text-align: center
  border: 2px solid black
  display: flex
  flex-wrap: wrap
  border-radius: $s
  cursor: default
  font-family: $primary-font
  .text
    text-align: justify
    hyphens: auto
    color: black
    clear: both
    float: left
    margin-bottom: $s
    font-size: $font-size*0.75
    line-height: $line-height*0.75
  .policy
    text-decoration: none
    padding: $s/2
    outline: 2px solid $border-color
    width: 30%
    &:hover
      box-shadow: 0px 0px 4px black
  .none, .all
    cursor: pointer
    border: 2px solid $border-color
  .none
    background-color: #CD324C
    padding: $s/2 $s*1.5
    border-top-left-radius: $s
    border-bottom-left-radius: $s
    width: 35%
    font-size: $font-size*0.75
  .some
    background-color: lightgray
  .all
    background-color: #9acd32
    padding: $s/2 $s*1.5
    border-top-right-radius: $s
    border-bottom-right-radius: $s
    width: 35%
    &:hover
      background-color: #16FF42

.cookie-policy-button
  cursor: pointer
  padding: $s $s*3
  border-radius: $s
  border: 2px solid $border-color
  &.revoke
    background-color: #CD324C
    float: left
  &.grant
    background-color: #9acd32
    float: right
    &:hover
      background-color: #16FF42

$theme: #FBFBFB
$theme-secondary: white


.header, .footer
  background-color: $theme

.share, .card__role, .card__content, .card__image, .card--link-only
  background-color: $theme-secondary

.card__role
  text-transform: uppercase
  text-align: center
  padding: $s/2
  line-height: $font-size*0.75
  width: 100%
.card--sidebar:not(.card--link-only)
  padding: $s/4
  .card__content
    padding-top: $s/2
  .card__image
    margin-bottom: 0 !important


.header
  margin-top: 0
  padding-top: $s
  a
    border: none !important
.footer
  margin-bottom: 0
  padding-bottom: $s

.sidebar
  position: relative

.sidebar .background
  margin: -$s
  position: absolute
  display: grid
  height: 100%
  width: 100%

.sidebar .background::before
  content: ""
  background-color: $theme
  position: absolute
  height: 100%
  width: 200vw
  z-index: -1

.pin
  top: -$s/1.5
  right: -$s/1.5
  position: absolute
  transition: all 0.20225s linear
  background-image: url("/assets/ui/pin-stuck.png")
  width: 32px
  height: 32px
  &.left
    transform: rotateY(-180deg)
    left: -$s/1.5
    right: initial

.card:hover .pin
  transition: all 0.20225s ease-out
  transform: rotate(-20deg)
  right: -$s*1.5
  top: -$s*1.5
  background-image: url("/assets/ui/pin.png")
.card:hover .pin.left
  transform: rotateY(-180deg) rotate(-20deg)
  left: -$s*1.5
  right: initial

.true-cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.true
  background-color: $theme
  border: 2px solid $border-color
  margin-bottom: $s
  max-width: 49%
  width: 100%
  padding: $s/4
  position: relative
  *
    text-decoration: none
    color: black
  &:hover
    box-shadow: 0px 0px 5px #000
  &--large
    max-width: 100%
    width: 100%
  .caption
    text-align: center
    background-color: $theme-secondary
    padding: $s/4
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: start
    line-height: $font-size
    .series, .published
      font-size: 0.75*$font-size
      padding: $s/4
    .title
      padding: $s/4
      width: 100%
  .image
    max-height: 50vh
    display: block
    width: 100%
    height: auto
    object-fit: cover
    aspect-ratio: 3 / 2
    background-color: $theme-secondary

.guest
  color: transparent
  position: absolute
  background-image: url("/assets/ui/guest.png")
  width: 128px
  height: 92px
  top: -$s
  right: -$s