.tier--foso
  align-items: center
  margin-bottom: $s
  list-style: none
  &--left
  &--right
  figure
    width: 100%
    max-width: 150px
    max-height: 266px
    flex-grow: 1
    margin-right: 1.5*$s+1/4*$s
    transform: rotate(-3deg)
    float: left
    img
      min-width: 150px
      min-height: 266px
      object-fit: cover
      box-sizing: content-box !important
    figcaption
      display: none
  *
    font-family: $secondary-font
  .content
    display: flex
    flex-direction: column
  .name
    font-weight: normal
    margin-top: 0 !important
    display: inline-block
    font-family: $tertiary-font-beta
    font-size: $font-size*2
  .description
    margin-bottom: $s/2
    &:before
      font-style: normal
      content: "About: "
      font-weight: bold
  .special
    font-style: italic
    &:before
      font-style: normal
      content: "Special: "
      font-weight: bold
  &:nth-of-type(even)
    flex-direction: row-reverse
    .name
      text-align: right !important
    figure
      margin-left: 0
      margin-left: 1.5*$s+1/4*$s
      float: right
      transform: rotate(3deg)
  .recommendation
    margin-top: $s/2
    &:before
      font-style: normal
      content: "Set: "
      font-weight: bold

@media screen and (max-width: 480px)
  .tier--foso
    figure
      float: none !important
      margin: auto !important

.post__title
  font-family: $tertiary-font !important
  font-size: $font-size*2
  line-height: $line-height*2
  font-weight: normal
