.searchbar
  display: flex
  flex-direction: row-reverse
  align-self: center
  margin-left: auto
  margin-right: 0
  height: 24.27px
  &::placeholder
    padding-left: $s
  &__button
    aspect-ratio: 1/1
    background-image: url("/assets/tipuesearch/search.png")
    background-size: 20px
    background-position: center
    background-repeat: no-repeat
    height: 30px
    width: 30px
    border: 0
    cursor: pointer
    align-self: center
    margin-left: $s
    //border: $s/8 solid #121212
    //outline: $s/8 solid black
    &:hover
      border: none
    &:active
      border: none
      outline: none
  &__text
    font-family: $font-name-d
    border: 0
    padding: $s/4 $s/2
    max-width: $s*10
    font-size: $s/1.5
    padding-bottom: 1px
    //border: $s/8 solid #121212
    //outline: $s/8 solid black
    &:focus
      outline: none
      .searchbar::placeholder
        color: transparent
      border-bottom: 1px solid black
      padding-bottom: 0
