---
layout: default
categories: gaming
---
{%- if page.title -%}
  <h1 class="homepage__heading sr">{{ page.title | default: "Homepage" }}</h1>
{%- endif -%}



<div class="true-cards">
{%- if site.posts.size > 0 -%}
<span itemprop="itemListOrder" aria-hidden="true" hidden>Unordered</span>
<span itemprop="numberOfItems" aria-hidden="true" hidden>{{n}}</span>
{% assign n = 0 %}
{%- for post in site.posts -%}


  {%- if page.categories contains "all" or post.categories contains page.categories -%}
  <figure class="true{% if n == 0 %} true--large{% endif %}">
    {% if post.meta.author != 'morgosus' %}
    <a class="link" href="{{ post.url | relative_url }}" title="Go to the post '{{ post.title | escape }}'"><div class="guest">Guest</div></a>{% endif %}

    {% assign n = n | plus:1 %}
    {%- capture day_posted -%}{{ post.date | date: "%d" }}{%- endcapture -%}
    {%- if site.minima.date_format != true -%}
    {%- case day_posted -%}
    {%- when '01', '21', '31' -%}
    {%- assign ordinal_format = '%-dst %B %Y' -%}
    {%- when '02', '22' -%}
    {%- assign ordinal_format = '%-dnd %B %Y' -%}
    {%- when '03', '23' -%}
    {%- assign ordinal_format = '%-drd %B %Y' -%}
    {%- else -%}
    {%- assign ordinal_format = '%-dth %B %Y' -%}
    {%- endcase -%}
    {%- endif -%}
    <a class="link" href="{{ post.url | relative_url }}" title="Go to the post '{{ post.title | escape }}'">
    {% assign thumbnail = site.thumbnail | where:"name", post.thumbnail | first %}
    <img class="image" src="{{thumbnail.source}}" alt="{{thumbnail.caption}}" />
    <figcaption class="caption">{% if post.meta.series %}<span class="series">{{ post.meta.series }}</span>{% endif %}<span class="published">{{ post.date | date: ordinal_format }}</span><span class="title">{{ post.title | escape }}</span></figcaption>

    </a>
    <span itemprop="position" aria-hidden="true" hidden>{{n}}</span>
  </figure>
  {% endif %}
  {%- endfor -%}
  {% endif %}
</div>

<a class="rss" href="{{ '/feed.xml' | relative_url }}" title="Subscribe via RSS"><img loading="lazy" class="rss__icon" src="/assets/ui/rss.png" alt="RSS icon" />&nbsp;<span class="rss__link">〔Subscribe&nbsp;via RSS 〕</span></a>
