<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include /head.html -%}

  <body>
  {%- unless page.hide_header == true -%}
    {%- include header.html -%}
  {%- endunless -%}

  <div class="wrapper wrapper--body">
    <main class="main theme-{{ page.theme | default: "default" }}" aria-label="Content">{%- include main.html -%}</main>
    <aside class="sidebar">{%- include sidebar.html -%}</aside>
  </div>

  {%- unless page.hide_sidebar == true -%}
    {%- include footer.html -%}
  {%- endunless -%}
  </body>
</html>
