---
layout: base
---
<main class="main">
    {% assign mods = site.mod %}

    <h1 class="visually-hidden">Mods</h1>
    {%- if mods.size > 0 -%}
    <div id="mods" class="mods">
        {%- for mod in mods -%}
        <a class="mod" href="{{ mod.link }}">
            <h2 class="mod__heading">{{ mod.name }}</h2>
            <img class="mod__image" src="{{ mod.source }}" alt="{{ mod.caption }}">
        </a>
        {%- endfor -%}
    {%- endif -%}
    </div>
</main>
<script type="text/javascript" defer>
window.onload = function() {
    const container = document.getElementById('mods');

    let mods = Array.prototype.slice.call(container.getElementsByClassName('mod'));
    mods.forEach(function(element){
        container.removeChild(element);
    })

    shuffleArray(mods);

    mods.forEach(function(element){
        container.appendChild(element);
    })
}

function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    const temp = array[i];
    array[i] = array[j];
    array[j] = temp;
    }
}
</script>