---
layout: default
---
<article class="post">
  <h1 class="post__title sr">{{ page.title | escape }}</h1>

  <div class="post__content">
    {{ content }}
  </div>

  {%- include component/random-build-number.html -%}

  {%- if page.github_comments_issueid -%}
  <script src="https://giscus.app/client.js"
          data-repo="{{site.github_comments_repository}}"
          data-repo-id="MDEwOlJlcG9zaXRvcnkzOTYzMjY4NDA="
          data-mapping="number"
          data-term="{{page.github_comments_issueid}}"
          data-reactions-enabled="0"
          data-emit-metadata="1"
          data-theme={{- "https://www.toms.click/resource/css/giscus.css?v=" | relative_url | append: randomBuildNumber -}}"
          crossorigin="anonymous"
          async>
  </script>
  {%- endif -%}
</article>
