---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <img class="post__thumbnail" src="{{ page.thumbnail }}" alt="{{ page.thumbnail-alt }}"/>

  <div class="post__header">
    <h1 class="post__title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time class="post__meta-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">

        {% capture day_posted %}{{ page.date | date: "%d" }}{% endcapture %}

        {% if site.minima.date_format != true %}
          {% case day_posted %}
            {% when '01', '21', '31' %}
              {% assign ordinal_format = '%-dst %B %Y' %}
            {% when '02', '22' %}
              {% assign ordinal_format = '%-dnd %B %Y' %}
            {% when '03', '23' %}
              {% assign ordinal_format = '%-drd %B %Y' %}
            {% else %}
              {% assign ordinal_format = '%-dth %B %Y' %}
          {% endcase %}
        {% endif %}

        {%- assign date_format = site.minima.date_format | default: ordinal_format -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="post__meta-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </div>
  <div class="post__content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</article>
