---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">
        {%- unless page.thumbnail == "#" -%}
        {% assign thumbnail = site.thumbnail | where:"name", page.thumbnail | first %}
        <img class="post__thumbnail" src="{{ thumbnail.source }}" alt="{{ thumbnail.caption }}">
        {%- endunless -%}

        <h1 class="post__heading" itemprop="name headline">{{ page.title | escape }}</h1>

        <p class="post__meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <time class="post__date-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: date_format }}
            </time>
            {%- if page.modified_date -%}
            ~
            {%- assign mdate = page.modified_date | date_to_xmlschema -%}
            <time class="post__date-modified" datetime="{{ mdate }}" itemprop="dateModified">
                {{ mdate | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.author -%}
            • {% for author in page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="post__author" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}</p>
    </header>

    <div class="post__content" itemprop="articleBody">
        {{ content }}
    </div>

    <a class="visually-hidden" href="{{ page.url | relative_url }}"></a>
</article>