---
layout: default
tipue_search_active: true
---
{%- capture wordCount -%}{{- content | number_of_words -}}{%- endcapture -%}

{%- capture timeRequired -%}{{- wordCount | divided_by: 200 | round -}}{%- endcapture -%}

<article class="article">

  {%- for post in site.posts -%}
    {%- if post.meta.series == page.meta.series and post.meta.order != page.meta.order -%}

      {%- assign next_order = page.meta.order | plus: 1 -%}
      {%- assign previous_order = page.meta.order | plus: -1 -%}

      {%- if post.meta.order == previous_order -%}
        <a href="{{ post.url | relative_url }}" class="relative__item relative__item--previous" title="'{{post.title}}'">❰ Previous</a>
      {%- endif -%}
      {%- if post.meta.order == next_order -%}
        <a href="{{ post.url | relative_url}}" class="relative__item relative__item--next" title="Go to '{{post.title}}'">Next ❱</a>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  <img loading="lazy" class="thumbnail" src="{{ page.thumbnail.source }}" alt="{{ page.thumbnail.caption }}" />
  <h1 class="headline" itemprop="name headline">{{ page.title | escape }}</h1>
  <time class="published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </time>
  {{ content }}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <a itemprop="url sameAs" class="external card__link" href="{{ page.url | relative_url }}" title="Go to the post '{{ page.title | escape }}'">
    <article class="card card--home">
      <img loading="lazy" class="card__image" src="{{ page.thumbnail.source | relative_url }}" alt="{{ page.thumbnail.caption }}">
      <h3 class="card__heading">{{ page.title | escape }}</h3>
      <time class="card__timestamp">{{ page.date | date: date_format }}</time>
      {% if page.excerpt %}<div class="card__excerpt">{{ page.excerpt | strip_html | strip_newlines | truncate: site.excerpt_length}}</div>{% endif %}
    </article>
  </a>
</article>
<script type="module" src="/js/image-to-figure.min.js"></script>


